body { font-family: 'Open Sans', sans-serif; margin: 0; padding: 0; padding-top: 180px; }
body.crumbs { padding-top: 260px; }




#fixed { position: fixed; top: 0; width: 100%; z-index: 900; }




div.inner { margin: 0 auto; max-width: 1100px; position: relative; width: 95%; }




#path { padding: 2em 0; text-align: center; }




#admin { background: white; color: #3E84A9; font-size: 0.95em; padding: 10px 0 12px 0;  text-align: right;  width: 100%;  }
#admin div p, #admin div p img { margin: 0; padding: 0; vertical-align: middle;  }
#admin div p img  { height: 24px; }
#admin div p a { color: #3E84A9; font-weight: bold; margin-left: 5px; text-decoration: 0;  }




#banner {  background: #5FB4CB url('sketch/shadow.png') center -62px no-repeat; height: 115px; margin: 0; padding: 0; position: relative;  width: 100%;  }
#banner h1 {  position: absolute;  top: -45px;  }
#banner h3 { background: #2B98CE; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position: absolute; padding: 10px; top: 15px; right: 0px;  }
#banner h3 span { color: white; font-size: 1em; text-align: center; top: 25px; width: 100%; }




#nav { background: #2B98CE; margin: 0; padding: 0; z-index: 50; }
#nav ul {  list-style: none; margin: 0; padding: 0; }
#nav ul li {  display: inline-block;  text-align: center; text-transform: capitalize; width: 20%;  }
#nav ul li a {  color: white; display: inline-block; padding: 7px 0; text-decoration: none; width: 100%; }
#nav ul li:hover { background: white; outline: #2B98CE; }
#nav ul li:hover a { color: #15447E; }




#crumbs { background: url('sketch/shadow.png') center bottom no-repeat; color: #15447E; padding: 15px 0 25px 0; position: fixed; text-align: left; top: 178px; width: 100%; z-index: 800; }
#crumbs a { color: inherit; text-decoration: none; }
#crumbs a.notification { background: #cc0000; float: right; }

	#crumbs div.inner { padding: 2px 0; }




#splash {
	background: #3E84A9;
	background: -moz-linear-gradient(top, #3e83a8 0%, #5FB4CB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3E84A9), color-stop(100%,#5FB4CB));
	background: -webkit-linear-gradient(top, #3E84A9 0%,#5FB4CB 100%);
	background: -o-linear-gradient(top, #3E84A9 0%,#5FB4CB 100%);
	background: -ms-linear-gradient(top, #3E84A9 0%,#5FB4CB 100%);
	background: linear-gradient(to bottom, #3E84A9 0%,#5FB4CB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a09b', endColorstr='#77cbc5',GradientType=0 );
	position: relative;
	width: 100%;
}




#message { color: white; padding-top: 2.5%; position: absolute; text-align: center; width: 100%; z-index: 800; }
#message h1 { font-size: 4em; margin-bottom: 20px; text-shadow: 0px 0px 20px rgba(150, 150, 150, 1); }
#message h2 { font-size: 2em; font-weight: lighter; margin-bottom: 20px; text-shadow: 0px 0px 20px rgba(150, 150, 150, 1); }
#message p a { background: #5FB4CB; color: white; display: inline-block; margin: 0 5px; padding: 15px; text-decoration: none; }
#message a { -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; }




ul.slides { margin: 0; padding: 0; width: 100%; }
ul.slides li { margin: 0; padding: 0; position: relative; }
ul.slides li img { display: block; width: 100%; }
ul.slides li div { -webkit-border-radius: 10px; -moz-border-radius: 10px; border: 1px solid white; border-radius: 10px; bottom: 30px; height: 90px; margin-left: 30px; padding: 20px; position: absolute; width: 300px; }
ul.slides li div h3 { color: white; margin-bottom: 15px; }
ul.slides li div p { color: white; font-size: 0.8em; line-height: 140%; }
ul.slides li div img { margin-bottom: 15px; opacity: 1; width: 100px !important; }
.bx-next, .bx-prev { display: none;  }
.bx-pager { display: none; }




	#content { font-size: 1em; line-height: 150%; padding: 1.5em 0;  width: 100%;  }
	#content div.inner { }
	#content div h3 { margin-bottom: 0.7em; }
	#content div h4 { line-height: 140%; margin-bottom: 0.9em; }
	#content div p { font-size: 0.9em; line-height: 140%; margin-bottom: 0.9em; }
	#content div p a { color: #15447E; font-weight: bold;  }
	#content div ul { font-size: 0.9em; line-height: 140%; margin-bottom: 0.9em; }


		#oa_social_login_container { border: 1px dotted #ccc; height: 55px; margin-bottom: 0; max-width: 150px; padding: 20px; display: inline-block; text-align: center; }


		ul.tabs { list-style: none; margin: 0 !important; padding: 0 !important;  }
		ul.tabs li { display: inline-block; }
		ul.tabs li a { background: #3E84A9; border-radius: 5px; color: white !important; font-weight: bold; margin: 0 5px 0 0px; padding: 5px 10px; text-align: center; text-decoration: none; }
		ul.tabs li a:hover, ul.tabs li a.on { color: #3E84A9; background: #73D3E1; }



		form { border: 0; margin-left: 0; margin-top: 1em; padding: 0; }
			form.center { border: 1px dotted #ccc; width: 500px; display: inline-block; margin: 0 auto; margin-top: 10px !important; padding: 0 20px; }
		form fieldset p.small { font-size: 0.7em; margin-top: -10px;  }
		form fieldset { border: 1px dotted #ccc; display: inline-block; margin: 20px 0; padding: 5px 2%; width: 92%; }
		form > p input { margin: 0px 2.5% 15px 0%; }
		form dl { margin-bottom: 20px; margin-top: 20px;  }
			form.center dl { margin-bottom: 5px; margin-top: 5px;  }
		form dl.double { display: inline-block; margin-right: 2.5%; vertical-align: top; width: 45%; }
		form dl.single { width: 100%; }
		form dl dt { font-size: 0.8em; font-weight: bold; margin-bottom: 3px; }
		form dl dd { margin-left: 0; }
			form.center dl dd {  margin-left: 0; text-align: center; }
		form dl dd input[type='text'], form dl dd input[type='password'], form dl dd input[type='email'] { border: 1px solid #ccc; font-size: 0.8em; margin-left: 0; padding: 7px; width: 50%; }
			form.center dl dd input[type='text'], form.center dl dd input[type='password'] { border: 1px solid #ccc; font-size: 0.8em; margin-left: 0; padding: 7px; width: 90%; }
		form dl dd select { padding: 7px; width: 50%; }
			form.center dl dd select { padding: 7px; width: 90%; }
		form dl dd textarea { border: 1px solid #ccc; font-size: 0.9em; min-height: 55px; margin-left: 0; padding: 7px; width: 90%; }
		form input[type='submit'] { background: #25A6E1; padding: 6px 11px; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
			border: 1px solid #1A87B9; font-family: 'Open Sans', sans-serif; font-size: 0.9em; transition-duration: 0.5s; }
		form input[type='submit']:hover { background: #FF5DB1; border: 1px solid #E8124F; color: #fff; cursor: pointer; }


		form fieldset.side_left { display: inline-block; margin: 20px 0 20px 0; vertical-align: top; width: 43%; }
		form fieldset.side_right { display: inline-block; margin: 20px 0 20px 2%; vertical-align: top; width: 43%; }



		div.left.wide { padding-bottom: 20px; width: 100%; }
		div.left.wide.center { text-align: center; }
		div.left, div.right { color: #3e83a8; display: inline-block; vertical-align: top; }
		div.left { width: 63%; }
		div.right { margin-left: 2%; text-align: left; vertical-align: top; width: 35%; }
		div.right.text-left { text-align: left; }

		.left50, .right50 { color: #3e83a8; display: inline-block; vertical-align: top; width: 47%; }
		.left50 { margin-right: 3%; }

		div.padd { margin: 25px 0 0 0; }
		div.boxy { background: #D5F2F6; border: 1px solid #3E84A9; color: #3E84A9; font-size: 0.85em; line-height: 140%; margin-bottom: 10px; padding: 15px 15px 5px 15px;
			-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
		div.boxy h5 { font-size: 1.2em; margin: 0 0 10px 0; }
		div.boxy p { margin-top: 15px; }


		div.boxy.personal { background: #69B3CB; border: 1px solid #4783A9; color: white; }



		div.charity--logos { display: inline-block; font-size: 0.7em; margin-bottom: 15px; margin-right: 5%; text-align: center; vertical-align: top; max-width: 200px; width: 23%; }
		div.charity--logos img { border: 1px solid #ccc; margin-bottom: 5px; width: 100%; }




		div.members--pics { display: inline-block; font-size: 0.8em; margin-bottom: 10px; margin-right: 2%; max-width: 100px; text-align: center; vertical-align: top; width: 30%; }
		div.members--pics img { margin-bottom: 5px; width: 100%; }




		p.alpha a { background: #2B98CE; color: white !important; display: inline-block; font-weight: bold; padding: 8px 0 6px 0; text-align: center; text-decoration: none; text-transform: uppercase; width: 30px; }
		p.alpha a:hover { background: white; color: #2B98CE !important; outline: 1px solid #2B98CE; }





		input.text-input { border: 1px solid #ccc; padding: 10px; width: 50%; }




		hr { border: 0; border-top: 1px solid #84C6C4; display: block; height: 20px; margin: 0; padding: 0; margin-top: 20px; width: 100%; }




		div.fleft { float: left; font-size: 0.9em; margin: 0 10px 10px 0; width: 150px; }
		div.fleft a { margin-left: 0; }
		div.fleft img { margin-bottom: 10px; width: 100% !important; }




		div.sponsored__by {  float: right; font-size: 0.8em; padding: 10px; text-align: right; width: 100px; }
		div.sponsored__by img { float: right; width: 90%; }




		img.small__logos { display: inline-block; margin-left: 5px; width: 85px; }




		dl.strip { border-bottom: 1px solid #3E84A9; color: #3E84A9; font-size: 1em; display: block; margin: 7px 0; padding: 0;  width: 100%; }
		dl.strip dd { display: inline-block; margin: 5px 0; padding: 5px 0; }
		dl.strip dd a { color: #3E84A9; }
		dl.strip dd a:hover { color: #009B9A; }
		dl.strip dd img { width: 300px; }
		dl.strip dd img.auto { width: auto; }
		dl.strip dd form { background: none !important; margin: 0 !important; padding: 0 !important; }
		dl.strip dd.hide_wide { border-right: 0; display: none; margin: 10px 0; padding: 0; width: 100%; }
		dl.strip.fixed dd { width: 90%; }
		dl.strip.stats dd { margin-right: 20px; }
		dl.strip.stats dd.edit { float: right; }


			dl.strip.nudge dd { margin-right: 10px; }

		img.charity__logo { border: 1px solid #ccc; margin-top: 20px; }


/* Front BIG */

	div.big { position: relative; width: 100%; }
	div.big img { width: 100%; }
	div.big div { color: white; left: 15px; position: absolute; top: 20px; width: 60%; }
	div.big div h4 { font-size: 1.5em; font-weight: lighter; margin-top: 0; }



/* Front latest donations (limit 3) */


		dl.front__favs { background: #5FB4CB; display: inline-block; margin: 0 0 15px 3%; padding: 0; width: 40%; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-align: left; vertical-align: middle; }
		dl.front__favs dd { color: white; display: inline-block; margin: 0; padding: 0; text-align: center; width: 50%; vertical-align: middle; }
		dl.front__favs dd.front__favs__image { border-right: 0; margin: 0; padding: 0; text-align: right; width: 39.545%; }
		dl.front__favs dd img { display: block; -webkit-border-radius: 0px 10px 10px 0px;-moz-border-radius: 0px 10px 10px 0px; border-radius: 0px 10px 10px 0px; margin: 0; margin-left: 3px; padding: 0; width: 100%; }

.latest__donations { display: inline-block; vertical-align: top; width: 100%; }
.news__side { display: inline-block; margin: 0; margin-top: -55px; padding: 0; text-align: left; vertical-align: top; width: 100%; }
.news__side > div { margin-left: 00px !important; padding: 0; text-align: left; width: 100% !important; }



/* Front signed-in 3 boxes */


	img.large__front { margin-top: 10px; width: 100%; }
	img.inline__front { display: inline-block; width: 50%; }
	img.inline__front.first { margin-right: 0%; }




/* Stats buttons / form filter */


		form.filter { border: 0; }
		form.filter input[type="text"] { border: 1px solid #ccc; margin-right: 4px; padding: 4px; }
		form.filter input[type='submit'] { margin-top: 1px;  padding: 1.5px 6px; }
		ul.filter { font-size: 0.8em; margin-bottom: 20px; margin-left: 0px; padding-left: 0; }
		ul.filter li { display: inline-block; }
		ul.filter li a { background: #3E84A9; border-radius: 5px; color: white !important; font-size: 0.8em; font-weight: bold; margin: 0 10px 0 0; padding: 5px 10px; text-align: center; text-decoration: none; }
		ul.filter li a:hover { color: #3E84A9; background: #73D3E1; }





/* News page */


		div.news_cards { display: inline-block; min-height: 300px; vertical-align: top;  width: 49%; }



/* Members notification div */


ul.notifications { -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; border: 1px solid #3E84A9; display: none; list-style: none; width: 96%; }
ul.notifications li { border-bottom: 1px dotted #3E84A9; font-size: 0.8em; padding: 10px 0; width: 100%; }
ul.notifications li:last-child { border-bottom: 0; }
ul.notifications li a { color: #3E84A9; text-decoration: none; }
ul.notifications li a:hover { }





#adverts {  background: white url('sketch/shadow.png') center -62px no-repeat; padding-top: 20px; text-align: center; width: 100%;  }
#adverts div h3 { color: #69B3CB; }
#adverts div img { margin: 25px 15px; }





#footer {  background: #3E84A9 url('sketch/shadow.png') center -62px no-repeat;  padding-bottom: 40px;  padding-top: 20px;  position: relative;  width: 100%;  }





#links { display: inline-block; vertical-align: top; width: 100%; }
#links div { display: inline-block; margin-right: 2%; vertical-align: top; width: 30%; }
#links div h5 { color: white; font-size: 1em; margin-top: 5px; }
#links div ul { color: white; font-size: 0.7em; list-style: none; margin-top: 0px; padding: 0; }
#links div ul li { margin-bottom: 5px; text-transform: capitalize; }
#links div ul li a { color: #72D1DE; text-decoration: none; }
#links div ul li a:hover { color: white; }
#links img { margin-top: 10px; height: 30px; }
#links img.wide { margin-top: 10px; width: 100%; }





#find {  background: #D5F0ED url('sketch/shadow.png') center -62px no-repeat;  width: 100%;  }
#find div img { margin-top: 20px; width: 100%;  }





#follow { display: inline-block; text-align: right; vertical-align: top; width: 30%; }





#terms { font-size: 0.8em; margin-top: 40px; text-align: left; width: 100%; }
#terms p { color: white; font-size: 0.9em; line-height: 140%; }
#terms p a { color: white; }
#terms img { float: right; margin-top: -5px; }





	a.green__button { background: #3E84A9; border-radius: 5px; color: white !important; font-size: 0.8em; font-weight: bold; margin: 0 0 0 5px; padding: 5px 10px; text-align: center; text-decoration: none; }
	a.green__button:hover, a.green__button.on { color: #3E84A9; background: #73D3E1; }


	.red { color: #cc0000 !important; }
	img.fleft { border: 1px solid #ccc; float: left; margin: 0 10px 10px 0; }

	a.activate_dropdown { display: none; }
	a.activate_crumbs_dropdown { display: none; }
	label.error { color: red; display: inline-block; font-size: 0.8em; font-weight: bold; margin-left: 10px; }
	div.news__side { margin-top: 0px !important; }


	a.toggle__p { color: #3E84A9; font-size: 80%; }

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.advert {
    width: 200px;
    max-width: 200px;
    display: inline-table;
}

.advert iframe {
    margin: 0 15px;
}

.avatars input[type=radio],
.avatars input[type=file] {
    width: 0px;
    height: 0px;
    opacity: 0;
    filter: Alpha(opacity=0);
    margin: 0;
}

.avatars div {
    display: inline-block;
    margin-right: 5px;
}

.avatar {
    display: inline-block;
    max-width: 150px;
    min-height: 180px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #29b6f6;
    background-color: #e1f5fe;
}

.avatar img {
    width: 150px;
    max-width: 150px;
    height: 150px;
    max-height: 150px;
}

.avatar span {
    width: 150px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
}

.avatar:hover {
    background-color: #b3e5fc;
}

.avatars input[type=radio]:checked + .avatar,
.avatars input[type=radio]:checked + .avatar:hover {
    background-color: #81d4fa;
}

div.friends-pics {
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 10px;
    margin-right: 5px;
    max-width: 84px;
    text-align: center;
    vertical-align: top;
}

div.friends-pics:nth-of-type(4n) {
    margin-right: 0px;
}

div.friends-pics img {
    max-width: 84px;
}

@media screen and (max-width: 930px) {

	#message { padding-top: 2.5%; }
	#message h1 { font-size: 2.5em; }
	div.big div h4 { font-size: 1em; font-weight: lighter; margin-top: 0; }


@media screen and (max-width: 736px) {
	#admin { text-align: center; }
	#banner div.inner { text-align: center; }
	#banner div.inner h1 { display: inline-block;  margin-top: 70px; max-width: 300px; position: relative; text-align: center;  width: 100%; }
	#banner div.inner h1 img { width: 100%; }
	#banner div.inner h3 { display: none; }
}

@media screen and (max-width: 800px) {

	#message { display: none; }
	#adverts div img { width: 100%; }
}

@media screen and (max-width: 740px) {


	body { padding-top: 189px; }
	body.crumbs { padding-top: 210px; }
	body.crumbs #content { margin-top: -80px; }


	#nav div.inner {  width: 100%; }
	#nav ul { display: none; }
	#nav ul li { width: 100%; }
	#nav ul li:hover { background: white; outline: 0; }


		a.activate_dropdown { color: white; display: block; padding: 5px 0; text-align: center; }
		a.activate_crumbs_dropdown { color: 69B3CB; display: inline-block; margin: 0 !important; padding: 5px 0 5px 8px; text-align: center; width: 100%; }


	#crumbs { padding-top: 0; position: relative; top: -25px; z-index: 500; }
	#crumbs div.inner { display: inline-block; }
	#crumbs strong { display: none; }
	#crumbs div.inner a { display: inline-block; margin: 5px 0 0 12.5% !important; width: 75%; }
	#crumbs div.inner p { display: none; }
	#crumbs a.notification { float: none; }


	.left50, .right50 { margin: 10px 0; width: 100%; }
	div.left, div.right { margin: 10px 0; width: 100%; }

	div.right img { width: 100%; }


	#links div { margin-right: 0; text-align: center; width: 100%; }
	#terms { text-align: center; }
	#terms img { float: none; }


}


@media screen and (max-width: 600px) {


	div.charity--logos { margin-right: 5%; max-width: none; width: 45%; }
	div.members--pics { margin-right: 5%; max-width: none; width: 45%; }
	form dl.double { width: 100%; }
	form fieldset.side_left { display: inline-block; margin: 20px 0 20px 0; vertical-align: top; width: 90%; }
	form fieldset.side_right { display: inline-block; margin: 20px 0 20px 2%; vertical-align: top; width: 90%; }


}
