body { font-family: 'Open Sans', sans-serif; font-size: 90%; font-weight: normal; margin: 0; padding: 0; }









#frame {  margin: 80px auto; max-width: 1300px; width: 90%; }

#frame.small { margin: 6em auto; max-width: 400px; width: 80%; }









#banner { border-bottom: 1px solid #ccc; }





p { line-height: 170%; }





form { border: 0; margin: 0; margin-top: 20px;  }

form fieldset { border: 0; margin: 0; margin-bottom: 20px; padding: 0; }

form dl { margin: 20px 0; padding: 0; }

form dl dt { font-weight: bold; margin: 0.5em 0; padding: 0; }

form dl dd { margin: 0; padding: 0; }

form dl dd input { color: #444; font-size: 0.9em; padding: 6px; max-width: 392px; width: 100%; }

form input[type='submit'] { background: #25A6E1; padding: 8px 13px; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #1A87B9; font-family: 'Open Sans', sans-serif; font-size: 1em; transition-duration: 0.5s; }

form input[type='submit']:hover { background: #FF5DB1; border: 1px solid #E8124F; color: #fff; cursor: pointer; }







#inner { border-top: 6px solid white; height:100%; width: 100%; }

#page { display: inline-block; width: 80%; }

#content { padding: 5px 15px; }





	h2 { font-size: 1.1em; margin: 10px 0; }

	h3 { font-size: 0.9em; margin: 10px 0; }

	p { font-size: 0.75em; line-height: 165%; margin-bottom: 1em; }







#nav { display: inline-block; margin-top: 0px; min-height: 300px; padding: 10px 0 20px 0; vertical-align: top; width: 20%; }

#nav ul { list-style: none; margin: 0 auto; padding: 0; width: 100%; }

#nav ul > li { font-size: 0.65em; font-weight: bold; margin: 5px 0px; }

#nav ul > li > a { 

	-webkit-border-radius: 7px; 

	-moz-border-radius: 7px;

	transition-duration: 0.5s;

	border-radius: 7px; 

	background: white; 

	border: 1px solid #ccc; 

	color: #333; 

	display: inline-block; 

	padding: 7px 0 5px 4%; 

	text-decoration: none; 

	vertical-align: -webkit-baseline-middle; 

	width: 95%; }

#nav ul > li > a > img { display: inline-block; margin-right: 7px; vertical-align: middle; }

#nav ul > li > a:hover, #nav ul li a.on { background: #99CC00; border: 1px solid green; color: white; }

#nav ul > li > a.confirm:hover { background: #cc0000; border: 1px solid red; }





	#nav ul > li > ul { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; background: #7EC0FC; margin-top: 5px; width: 100%; }

	#nav ul > li > ul > li { font-size: 1em; }

	#nav ul > li > ul > li a { background: #A6D900; color: white; border: 1px solid lime; }

	#nav ul > li > > ul > li a:hover, #nav ul li a.on { background: #777; border: 1px solid #555; color: white; }







#footer { color: #444; font-size: 0.65em; position: absolute; margin-top: 20px; }


