body { background: #333333; font-family: "Lucida Grande", Arial, sans-serif; font-size: 100%; }









#frame { border: 6px solid white; margin: 80px auto; max-width: 1300px; width: 90%; }

#frame.small { max-width: 400px; }









#banner { background: #A6D900; border: 6px solid #99CC00; }

#banner h1 { color: white; font-size: 1.4em; margin: 12px 10px; text-transform: uppercase; }







#inner { border-top: 6px solid white; height:100%; width: 100%; }

#page { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 6px solid white; display: inline-block; width: 80%; }

#content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #A4D3FD; border: 6px solid #7EC0FC; min-height: 300px; padding: 5px 15px; }









	h2 { font-size: 1.1em; margin: 10px 0; }

	h3 { font-size: 0.9em; margin: 10px 0; }

	p { font-size: 0.75em; line-height: 165%; margin-bottom: 1em; }

	hr { margin: 25px 0; }

	

		

		

		

	form fieldset { background: white; border: 1px dotted #ccc; margin-bottom: 15px; padding: 10px; }

	form fieldset legend { background: black; color: white; font-size: 0.8em; padding: 5px 10px; }

	form fieldset dl { margin: 7px auto 15px auto; padding: 0;  }

	form fieldset dl dt { font-size: 0.8em; font-weight: bold; margin: 0 0 4px 0; }

	form fieldset dl dd { font-size: 0.8em; margin: 0; padding: 0; }

	form fieldset dl dd input[type='text'] { color: #777; font-size: 1em; max-width: 200px; padding: 4px; width: 95%; }

	form fieldset dl dd input[type='password'] { color: #777; font-size: 1em; max-width: 200px; padding: 4px; width: 95%; }

	form fieldset dl dd textarea { color: #777; font-family: "Lucida Grande", Arial, sans-serif; font-size: 0.9em; line-height: 150%; max-width: 900px; padding: 4px; width: 95%; }

	

	

	

	

	dl.strip { background: white; border: 1px solid #A9D428; color: black; font-size: 0.7em; display: block; margin: 5px 0; padding: 0;  width: 100%; }

	dl.strip dd { border-right: 1px solid #A9D428; display: inline-block; margin: 0; padding: 5px 10px; }

	dl.strip dd:last-child { border-right: 0; }

	dl.strip dd a { color: black; text-decoration: none; transition-duration: 0.5s; }

	dl.strip dd a:hover { color: #A6D900; }

	

	

	dl.table__dt, dl.table__dd { background: aqua; border-right: 1px solid #A9D427; display: table; margin: 0; width: 100%; }

	dl.table__dt dt { 

		

		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; background: #B4DF27;  border-left: 1px solid #A9D427; border-top: 1px solid #A9D427; box-sizing: border-box; color: white;

		display: table-cell; font-size: 0.7em; font-weight: bold; max-height: 20px; margin: 0 !important; padding: 7px; 

		

	}

	

		

	dl.table__dd dd { 

		

		background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border-bottom: 1px solid #A9D427; border-left: 1px solid #A9D427; box-sizing: border-box; color: #444;

		display: table-cell; font-size: 0.7em; max-height: 20px; margin: 0 !important; padding: 7px; 

		

	}

	

	

	dl.table__dt.amount1 dt, dl.table__dd.amount1 dd { width: 100%; }

	dl.table__dt.amount2 dt, dl.table__dd.amount2 dd { width: 50%; }

	dl.table__dt.amount3 dt, dl.table__dd.amount3 dd { width: 33.33%; }

	dl.table__dt.amount4 dt, dl.table__dd.amount4 dd { width: 25%; }

	dl.table__dt.amount5 dt, dl.table__dd.amount5 dd { width: 20%; }

	

	

	dl.table__dd dd a { color: black; font-weight: bold; text-decoration: none; }

	dl.table__dd dd a.confirm { color: #cc0000;  } 







	ul.sortable { list-style: none; margin: 0; padding: 20px 0; }

	ul.sortable li { margin: 0; padding: 0; }







#nav { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #A4D3FD; border: 6px solid #7EC0FC; display: inline-block; margin-top: 0px; min-height: 300px; padding: 10px 0 20px 0; vertical-align: top; width: 20%; }

#nav ul { list-style: none; margin: 0 auto; padding: 0; width: 90%; }

#nav ul > li { font-size: 0.65em; font-weight: bold; margin: 5px 0px; }

#nav ul > li > a { 

	-webkit-border-radius: 7px; 

	-moz-border-radius: 7px;

	transition-duration: 0.5s;

	border-radius: 7px; 

	background: white; 

	border: 1px solid #ccc; 

	color: #333; 

	display: inline-block; 

	padding: 7px 0 5px 4%; 

	text-decoration: none; 

	vertical-align: -webkit-baseline-middle; 

	width: 95%; }

#nav ul > li > a > img { display: inline-block; margin-right: 7px; vertical-align: middle; }

#nav ul > li > a:hover, #nav ul li a.on { background: #333; border: 1px solid #333; color: white; }

#nav ul > li > a.confirm:hover { background: #cc0000; border: 1px solid red; }





	#nav ul > li > ul { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; margin-top: 5px; width: 100%; }

	#nav ul > li > ul > li { font-size: 1em; }

	#nav ul > li > ul > li a { background: 0; color: #555; border: 0; }

	#nav ul > li > ul > li a:hover, #nav ul > li > ul > li a.on { background: 0; color: black; border: 0; }





#footer { color: #444; font-size: 0.65em; position: absolute; margin-top: 20px; }
















/*





* {

margin: 0;

padding: 0;

}



	

		form fieldset div.double {

		float: left;

		width: 50%;

		}

	



				

					form fieldset dl dd input.long {

					width: 200px;

					}

				

				form fieldset dl dd textarea {

				color: #333;

				font-family: "Lucida Grande", Arial, sans-serif;

				font-size: 1em;

				padding: 4px;

				}

				

				form fieldset dl dd select {

				width: 200px;

				}



h1 {

font-size: 2.1em

}







h3 {

font-size: 1.2em;

margin-bottom: 15px;

}



hr {

background: none;

border-bottom: 1px solid #7EC0FC;

margin-bottom: 15px;

}







table.text, table.gallery {

background: white;

border-collapse: collapse;

border-right: 1px solid #A9D428;

border-bottom: 1px solid #A9D428;

border-top: 1px solid #A9D428;

margin-bottom: 15px;

width: 100%;

}



table.text a, table.gallery a {

color: #000033;

font-weight: bold;

}



table.text a:hover, table.gallery a:hover {

color: red;

}



table.gallery img {

border: 1px solid black;

}



table.text caption, table.gallery caption {

background: black;

color: white;

font-weight: bold;

margin: 5px 0;

padding: .7em;

text-align: left;

}



	table.text caption a {

	color: white;

	}

	

	table.text caption a:hover {

	color: #A4D3FD;

	}



table.text th {

background: #B4DF27;

border-left: 1px solid #A9D428;

border-bottom: 1px solid #A9D428;

color: white;

padding: .5em;

text-align: left;

vertical-align: top;

}



table.text th img {

border: none;

float: left;

margin-right: 5px;

}



table.text td a {

color: #CC0000;

font-weight: bold;

text-decoration: none;

}



table.text td a:hover {

color: black;

}



table.text th a {

color: white;

}



table.text th a:hover {

color: black;

}



table.text td, table.gallery td {

border-bottom: 1px solid #A9D428;

border-left: 1px solid #A9D428;

color: black;

padding: .5em;

text-align: left;

vertical-align: top;

}



table.gallery td {

text-align: center;

}





		



	

		#content div.content {

		padding: 14px;

		}

		



		

		#content ul {

		font-size: 1.1em;

		margin: 15px;

		}



	#frame {

	margin: 50px auto;

	width: 1000px;

	}

	

	

		

	#inner {

	background: white;

	border-top: 6px solid white;

	float: left;

	width: 100%;

	}

	

	#nav {

	background: #A4D3FD;

	border: 6px solid #7EC0FC;

	float: left;

	margin-right: 6px;

	width: 185px;

	}

	

		#nav ul {

		display: block;

		list-style: none;

		margin: 10px 0 0 10px;

		}

		

			#nav ul li {

			background: white;

			border: 2px solid #ccc;

			height: 20px;

			display: inline-block;

			margin: 0 0 5px 0;

			padding: 3px;

			position: relative;

			width: 155px;

			

			border-radius: 10px;	

			-webkit-border-radius: 10px;

			-moz-border-radius: 10px;

			}

			

				#nav ul li.black {

				background: black;

				}

				

				#nav ul li.on {

				background: #e1e1e1;

				}

			

				#nav ul li img {

				display: inline;

				float: left;

				left: 6px;

				margin: 2px 0 0 0px;

				position: absolute;

				}

				

				#nav ul li a {

				color: black;

				display: inline-block;

				float: left;

				font-weight: bold;

				height: 20px;

				margin-left: 20px;

				padding: 3px 0 0 7px;

				text-decoration: none;

				width: 130px;

				}

				

					#nav ul li.black a {

					color: white;

					}

	

	#wrapper {

	border: 6px solid white;

	float: left;

	width: 100%;

	}

	

	.gallery {

	clear: both;

	float: left;

	width: 100%;

	}

	



		

		.gallery form  {

		border: none;

		margin-top: -10px !important;

		}

		

		.gallery form fieldset {

		background: none;

		border: none;

		margin: 0;

		padding: 0;

		}

		

		.gallery form fieldset input {

		padding: 4px;

		}

		

		.gallery form fieldset textarea {

		font-family: "Lucida Grande", Arial, sans-serif;

		height: 60px;

		padding: 4px;

		margin-bottom: 5px;

		margin-top: 5px;

		width: 300px;

		}

		

		.gallery dd {

		border: 1px solid #333;

		float: left;

		height: 100px;

		margin: 5px 1px;

		position: relative;

		overflow: hidden;

		position: relative;

		width: 104px;

		}

		

			.gallery dd a.gallery_delete {

			background: url("../icons/cancel.png") top left;

			display: block;

			height: 16px;

			left: 5px;

			position: absolute;

			text-indent: -5000px;

			top: 5px;

			width: 16px;

			}

			

			.gallery dd a.gallery_edit {

			background: url("../icons/pencil.png") top left;

			display: block;

			height: 16px;

			right: 5px;

			position: absolute;

			text-indent: -5000px;

			top: 5px;

			width: 16px;

			}

		

			.gallery dd img.landscape {

			margin-left: -20px;

			height: 100px;

			}



			.gallery dd img.portrait {

			margin-top: -30px;

			width: 120px;

			}

				

		.gallery dt {

		background: black;

		color: white;

		font-weight: bold;

		margin: 5px 0;

		padding: 8px;

		

		border-radius: 5px;	

		-webkit-border-radius: 5px;

		-moz-border-radius: 5px;

		}

		

			.gallery dt a {

			color: white;

			}

			

	.simple_image {

	border-bottom: 1px solid #7EC0FC;

	height: 100px;

	margin-bottom: 15px;

	padding-bottom: 15px;

	}

	

		.simple_image dd {

		float: left;

		margin-left: 10px !important;

		}

	

		.simple_image dt {

		border: 1px solid #333;

		float: left;

		height: 100px;

		overflow: hidden;

		width: 104px;

		}

	

			.simple_image dt img.landscape {

			margin-left: -20px;

			height: 100px;

			}

		

			.simple_image dt img.portrait {

			margin-top: -30px;

			width: 120px;

			}

			



		

	ul.skeleton {

	color: #333;

	clear: both;

	font-size: 1em;

	list-style: none;

	padding: 0;

	margin: 0 0 0 0 !important;

	}

	

		ul.skeleton li {

		background: url(../icons/folder_page.png) top left no-repeat;

		margin-bottom: 2px;

		padding: 3px 22px;

		}

		

		ul.skeleton li a {

		color: #003366;

		}

		

			ul.skeleton li ul {

			clear: both;

			font-size: .9em !important;

			list-style: none;

			margin: 5px 0 0 5px !important;

			}

			

				ul.skeleton li ul li {

				}

	



	

	.subnav {

	background: #A6D900;

	border: 1px solid #99CC00;

	clear: both;

	font-size: 1em;

	height: 25px;

	list-style: none;

	margin: 0 0 15px 0 !important;

	width: 100%;

	border-radius: 5px;	

	-webkit-border-radius: 5px;

	-moz-border-radius: 5px;

	}

	

	.subnav li {

	float: left;

	font-weight: bold;

	margin: 4px 5px 0 5px;

	text-transform: capitalize;

	text-transform: uppercase;

	}

	

	.subnav li.back a {

	background: url(../icons/bullet_green.png) 0px 0px no-repeat;

	}

	

	.subnav a {

	color: white;

	background: url(../icons/bullet_green.png) 0px 0px no-repeat;

	display: inline-block;

	margin-right: 5px;

	padding: 1px 0 3px 17px;

	text-decoration: none;

	}

	

	.subnav a:hover {

	color: black;

}

	.tooltip {

	display:none;

	background:url(../images/black_arrow_big.png);

	height:163px;

	padding:40px 30px 10px 30px;

	width:310px;

	font-size:11px;

	color:#fff;

	}







	

	p.error {

	background: #cc0000 url('../icons/exclamation.png') 5px 5px no-repeat;

	border: 1px dotted red;

	color: white;

	font-weight: bold;

	padding: 5px 30px;

	}

	

	p.warning {

	background: gold url('../icons/error.png') 5px 5px no-repeat;

	border: 1px dotted yellow;

	color: black;

	font-weight: bold;

	padding: 5px 30px;

	}

	

	p.success {

	background: #A6D900 url('../icons/accept.png') 5px 5px no-repeat;

	border: 1px dotted green;

	color: black;

	font-weight: bold;

	padding: 5px 30px;

	}

	

	p.error a, p.warning a, p.success a {

	color: white;

	}



	#frame.small {

	width: 382px;

	}

	

		#frame.small #banner {

		width: 370px;

		}

		

		#frame.small #content {

		width: 370px;

		}